# Direnv bin dir
# ==============
DIRENV_TMP_DIR="${PWD}/.direnv"
DIRENV_BIN_DIR="${DIRENV_TMP_DIR}/bin"
[ ! -e "${DIRENV_BIN_DIR}" ] && mkdir -p "${DIRENV_BIN_DIR}"
export PATH="${DIRENV_BIN_DIR}:${PATH}"

# Direnv Global env
# ==============
export DB_CONTAINER_NAME="udemy-course-pg-15"
export DB_CONTAINER_PORT="1111"
export DB_DEFAULT_DATABASE="udemy-course"